@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

body {
  font-family: "Poppins", sans-serif;
}

.sour-gummy {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}

@keyframes floatRotate {
  0%, 100% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-10px) rotate(3deg);
  }
}

.float {
  animation: float 3s ease-in-out infinite;
}

.float-slow {
  animation: float 5s ease-in-out infinite;
}

.float-rotate {
  animation: floatRotate 4s ease-in-out infinite;
}

.card-dashboard {
    @apply bg-white rounded-2xl border border-slate-200 shadow-lg p-6 h-full flex flex-col items-center justify-center gap-2 hover:shadow-xl transition duration-300
}

button {
    @apply cursor-pointer disabled:cursor-not-allowed
    /* @apply disabled:cursor-not-allowed */
}